---
title: Hot Glass
---
    <div id="header">

      <div id="logo_img">Glassblower graphic/
      <div id="logo_txt">SURF & PADDLE CO. BLOG</div>
      </div>
      <div id="about">ABOUT</div>

      <div id="search">SEARCH

        <div id="magnifier_search_icon">SEARCH ICON</div>
      </div>

      <div id="title">Scuba and Paddle Co.</div>
      <div id="subtitle">An Iron Yard Academy Project Est. Summer 2014</div>

  </div>


<section>
  <h1>A FANTASTICE ENGAGING TITLE GOES HERE</h1>
  <body>
    <h1>Scuba and Paddle</h1>
    <p>This is a web page.</p>
      <article>

  <h2></h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.
      </p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu <link here "http.//url">fugiat nulla pariatur.</link ends here></p>

      <stick a divider bar here to the left of the quote>
        <h2"THIS IS A PULL QUOTE FROM THE ARTICLE."</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p3>
      <p4>
      </p4>
      </article>
      <p>
      </p2>


    <Icon and Button> Read Comments</Icon and Button>
    <Icon and Button> Read Later</Icon and Button>
    <Icon and Button> Share This Post</Icon and Button>


  <div>
  <h2>MOST POPULAR POSTS</h2>
  </div>

  <div>
    <img source= "http.//url">
    <h3>DIVE YOGA POST</h3>
  </div>

  <div>
    <img source= "http.//url">
    <h3>POST TITLE</h3>
  </div>

  <div>
    <img source= "http.//url">
    <h3>HERE'S ANOTHER LONGER POST TITLE</h3>
  </div>

  <div>
    <img source= "http.//url">
    <h3>OH COOL A POST</h3>
  </div>



</section>
  <h6>SIDEBAR SECTION HEADING</h6>
  <h7>MMURRAY MORAY</h7>
  <img>murraymoray.jpg</img>
  <!-- <socialmediabutton1>Twitter</socialmediabutton1>
<socialmediabutton1>Facebook</socialmediabutton1>
<socialmediabutton1>Instagram</socialmediabutton1> -->


<footer>
  <logo>tiny The Iron Yard Logo Here</logo>
  <f1>The Ironyard Copyright 2014, All Rights Reserved</f1>
  Nav Item 1
  Nav Item 2
  Nav Item 3
  Nav Item 5

  The Dive

</body>
</html>
