---
title: Hot Glass
---
<div id="header" width="1121px" height="671px">
  <div id="header_contents" class="contents" >
    <div id="logo_box">
      <img src="/images/logo_fiery.png" width="87px" height="65px" />
      <span id="logo_txt">Hot Glass Blog</span>
      <span id="about" class="header_text">ABOUT</span>
      <span id="search" class="header_text">SEARCH
        <span id="magnifier_search_icon"><img src="/images/search-black-256.png" width="18px" height="18px"/></span>
      </span>
    </div>
    <div id="header_text_box" align="center">
      <div id="title" class="title_text">
        <h1>Hot Glass</h1>
      </div>
      <div id="subtitle" class="title_text">
        <h2>An Ironyard Academy Project Est. Summer 2014</h2>
      </div>
    </div>
  </div>
</div>

<div id="content_box">
  <div id="article_box" class="left">
    <div id="title" class="title_text">
      <h3>A FANTASTIC ENGAGING HEADLINE GOES HERE</h3>
    </div>
    <div id="blogger_image" class="blogger_image1">
      <img src="/images/Crystal_Baller2.png" width="50px" height="50px" />
      <div id= "blogger_title" class="blogger_links_title">
        <h4>Crystal Baller on Monday, June 7th 9:22pm</h4>
      </div>
    </div>
    <p>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur.
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et <a href="http.//url">dolore magna aliqua.</a>

    <div id="divider_bar_for_quote">
      <div id="quote_text">
        <h3>"This is a pull quote from the article."</h3>
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
    <a href="http.//url">dolor sit </a>amet, consectetur adipisicing elit,
    sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.
    <p>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate
    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum velit esse
    cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet,
    consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    <ul class="bar_list">
      <li class="bar_item">
        Read Comments<img src="/images/comment-simple-red-square-icon-symbols-shapes-comment-bubbles.png" class="icon"/>
      </li>
      <li class="bar_item">
        Read Later <img src="/images/read_later_chair.jpeg" class="icon"/>
      </li>
      <li class="bar_item">
        Share This Post <img src="/images/share_icon.jpeg" class="icon"/>
      </li>
    </ul>
  </div>
  <div id= "sidebar_box" class="right">
    <div id= "blogger" class="blogging">
      <div id="blogger_image" class="blogger_image1">
        <img src="/images/Crystal_Baller2.png" width="50px" height="50px" />
      </div>
      <div id= "blogger_title" class="blogger_links_title">
        <p>Crystal Baller
      </div>
      <ul class="bar_list" >
        <li class="bar_item">
          Twitter
        </li>
        <li class="bar_item">
          Facebook
        </li>
        <li class="bar_item">
          Instagram
        </li>
      </ul>
    </div>
    <div id="ad_image">
      <img src="/images/ad_image.jpeg" class="ad_image"/>
      <div id="ad_text">
        <h7>About this Ad</h7>
      </div>
    </div>
    <div id="sidebar_title">
      <h5>Sidebar Section Heading</h5>
    </div>
    <div id="sidebar_text">
      <p>
      Four score and seven years ago our fathers brought forth, on this continent, a new nation,
      conceived in Liberty, and dedicated to the proposition that all men are created equal.
      <p>
      Now we are engaged in a great civil war, testing whether that nation, or any nation so
      conceived, and so dedicated, can long endure. We are met on a great battle-field of
      that war. We have come to dedicate a portion of that field, as a final resting-place
      for those who here gave their lives, that that nation might live. It is altogether
      fitting and proper that we should do this.
      <p>
      But, in a larger sense, we can not dedicate, we can not consecrate – we can not hallow
      – this ground. The brave men, living and dead, who struggled here, have consecrated it
      far above our poor power to add or detract. The world will little note, nor long remember
      what we say here, but it can never forget what they did here. It is for us the living,
      rather, to be dedicated here to the unfinished work which they who fought here have thus
      far so nobly advanced. It is rather for us to be here dedicated to the great task remaining
      before us – that from these honored dead we take increased devotion to that cause for which
      they here gave the last full measure of devotion - that we here highly resolve that these
      dead shall not have died in vain – that this nation, under God, shall have a new birth of
      freedom, and that government of the people, by the people, for the people, shall not
      perish from the earth.
    </div>
  </div>
</div>

<div id= "post_box" class="posts" style="clear: both;">
  <div id="post_box_title" align="center" class="post_links_box_title">
    <h4>Most Popular Posts</h4></div>
  <div id+"post_links_box">
    <span id="post_link_1" class="post_link">
      <!-- Go With the Flow -->
      <img src="/images/Blog_Post_Img_1.jpg" width="24%" height="320px" />
    </span>
    <span id="post_link_2" class="post_link">
      <!-- Tizz Ausome: Glass-o-rama -->
      <img src="/images/Blog_Post_2.jpg" width="24%" height="320px" />
    </span>
    <span id="post_link_3" class="post_link">
      <!-- Bored of Frustration -->
      <img src="/images/Blogger-image-john-e-bannon_bored-of-frustration.jpg" width="24%" height="320px" />
    </span>
    <span id="post_link_4" class="post_link">
      <!-- Garden of Artful Delights -->
      <img src="/images/Garden_of_Artful_Delights_Ad.jpg" width="24%" height="320px" />
    </span>
  </div>
</div>

<div id="footer" class="bgd">
  <div id="footer_contents" >
    <div id="footer_box">
      <span id="footer_logo_box">
        <img src="/images/white_oak_consulting.jpeg" width="50px" height="50px" />
        <span id="footer_txt" class="footer_text" style="position: relative; top: -15px;">White Oak Consulting 2014, All Rights Reserved</span>
      </span>
      <div id="nav_box" class="nav_box">
        <span id="nav_item_1" class="footer_nav_text">Nav Item 1 |</span>
        <span id="nav_item_2" class="footer_nav_text">Nav Item 2 |</span>
        <span id="nav_item_3" class="footer_nav_text">Nav Item 3 |</span>
        <span id="nav_item_5" class="footer_nav_text">Nav Item 5</span>
      </div>
    </div>
  </div>
</div>
