---
title: Hot Glass
---
<div id="header" width="1121px" height="671px">
  <div id="header_contents" class="contents" >
    <div id="logo_box">
      <img src="/images/logo_fiery.png" width="87px" height="65px" />
      <span id="logo_txt">Hot Glass Blog</span>
      <span id="about" class="header_text">ABOUT</span>
      <span id="search" class="header_text">SEARCH
        <span id="magnifier_search_icon"><img src="/images/search-black-256.png" width="18px" height="18px"/></span>
      </span>
    </div>
    <div id="header_text_box" align="center">
      <div id="title" class="title_text">
        <h1>Hot Glass</h1>
      </div>
      <div id="subtitle" class="title_text">
        <h2>An Ironyard Academy Project Est. Summer 2014</h2>
      </div>
    </div>
  </div>
</div>

<div id="content_box" style="border: 2px solid red;" width="1400px" height="1121px">
  <span id="article_box" style="border: 2px solid blue;" class="left">
    <div id="title" class="title_text">
      <h3>A FANTASTIC ENGAGING HEADLINE GOES HERE</h3>
    </div>
    <!-- <div id="blogger_image" class="blogger_image1">
      <img src="/images/Crystal_Baller2.png" width="50px" height="50px" />
    <div id= "blogger_title" align="center" class="blogger_links_title">
      Crystal Baller on Monday, June 7th 9:22pm
    </div>
    <p>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur.
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et <a href="http.//url">dolore magna aliqua.</a>

    <div id="divider_bar_for_quote">
      <div id="quote" class="quote_text">
        "This is a pull quote from the article."
      </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
    <a href="http.//url">dolor sit </a>amet, consectetur adipisicing elit,
    sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.
    <p>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate
    tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum velit esse
    cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet,
    consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.

    <Icon and Button> Read Comments</Icon and Button>
    <Icon and Button> Read Later</Icon and Button>
    <Icon and Button> Share This Post</Icon and Button> -->
  </span>
  <span id= "sidebar" style="border: 2px solid orange;" class="right">
    <div id= "blogger" class="blogging">
      <div id="blogger_image" class="blogger_image1">
        <img src="/images/Crystal_Baller2.png" width="50px" height="50px" />
      </div>
      <div id= "blogger_title" align="center" class="blogger_links_title">
        Crystal Baller
      </div>
      <span id="Twitter" class="social_media_link">Twitter</span>
      <span id="Facebook" class="social_media_link">Facebook</span>
      <span id="Instagram" class="social_media_link">Instagram</span>
    </div>
    <!-- <div id="ad_image">
      <span id="ad_image" class="ad_image">
        <img src="/images/ad_image.jpeg" width="25px" height="25px" />
      </span>
    </div>
    <div id="ad" class="ad_text">
      About this Ad
    </div>
    <div id="title" class="title_text">
      Sidebar Section Heading
    </div>
    <div id="text" class="section_text">
      <p>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
      reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </div>-->
  </span>
</div>

<div id= "post_box" class="posts" style="clear: both;">
  <div id="post_box_title" align="center" class="post_links_box_title">
    <h4>Most Popular Posts</h4></div>
  <div id+"post_links_box">
    <span id="post_link_1" class="post_link">
      <!-- Go With the Flow -->
      <img src="/images/Blog_Post_Img_1.jpg" width="24%" height="320px" />
    </span>
    <span id="post_link_2" class="post_link">
      <!-- Tizz Ausome: Glass-o-rama -->
      <img src="/images/Blog_Post_2.jpg" width="24%" height="320px" />
    </span>
    <span id="post_link_3" class="post_link">
      <!-- Bored of Frustration -->
      <img src="/images/Blogger-image-john-e-bannon_bored-of-frustration.jpg" width="24%" height="320px" />
    </span>
    <span id="post_link_4" class="post_link">
      <!-- Garden of Artful Delights -->
      <img src="/images/Garden_of_Artful_Delights_Ad.jpg" width="24%" height="320px" />
    </span>
  </div>
</div>

<div id="footer" class="bgd">
  <div id="footer_contents" >
    <div id="footer_box">
      <span id="footer_logo_box">
        <img src="/images/white_oak_consulting.jpeg" width="50px" height="50px" />
        <span id="footer_txt" class="footer_text" style="position: relative; top: -15px;">White Oak Consulting 2014, All Rights Reserved</span>
      </span>
      <div id="nav_box" class="nav_box">
        <span id="nav_item_1" class="footer_nav_text">Nav Item 1 |</span>
        <span id="nav_item_2" class="footer_nav_text">Nav Item 2 |</span>
        <span id="nav_item_3" class="footer_nav_text">Nav Item 3 |</span>
        <span id="nav_item_5" class="footer_nav_text">Nav Item 5</span>
      </div>
    </div>
  </div>
</div>
